<html>
	<head>
		<title>oniv</title>
		<meta charset="utf-8">
		<meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" type="image/png" href="img/icon.png"/>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="css/bootstrap.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="css/faculty_mobile.css" type="text/css" rel="stylesheet">
		<link href="css/loader.css" type="text/css" rel="stylesheet">
		<script src="js/faculty_mobile.js" type='text/javascript'></script>
		<script src="js/faculty_controller_mobile.js" type='text/javascript'></script>
	</head>
	<body>
    <div class='container-fluid'>

		<!-- new row, for name of the Home Company -->
				<div class='row' id='navbar'>

					<div class='text-center' style='margin-top:0;padding-top:0' id='company'><img src='img/logo.png' style='height:100%;display:inline;margin-left:auto' class='img-responsive'></div>

				</div>

		</div>
    <div class='container-fluid'>

		<!-- new row, for name of the Home Company -->
				<div class='row text-center' id='main'></div>

		</div>
    <div class='container-fluid'>

      <div class='row text-center' id='mobile-navigator'>
        <div class='col-xs-4' id='mobile-home-section' onclick='controller.facultyData()'><div class='glyphicon glyphicon-home'></div></div>
				<div class='col-xs-4' id='mobile-report-section' onclick='controller.facultyData()'><div class='glyphicon glyphicon-list-alt'></div></div>
				<div class='col-xs-4' id='mobile-personal-section' onclick='view.showPersonal()'><div class='glyphicon glyphicon-user'></div></div>
      </div>
  </body>
</html>
