<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<title>Oniv || faculty-student management portal</title>
		<link rel="manifest" href="/manifest.json">
		<link href='css/bootstrap.css' type='text/css' rel='stylesheet'>
		<link rel="shortcut icon" type="image/png" href="img/icon.png"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<style type='text/css' rel='stylesheet'>


		body {
				background-color:rgb(96, 242, 174);
				font-family: Roboto;
		}

			#login {
				border-radius: 5px;
				border-color: red;
				border-size: 2px;
			}

			input {
				padding: 5px;
				font-size: 16px;
				margin-top: 10px;
				border: solid 1px rgb(160,160,160);
				border-radius: 5px;
			}

			input:hover {
				border-color: rgb(40,204,130);
			}

			#submit {
				background-color: rgb(40,204,130);
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 20px;
				padding-right: 20px;
				box-shadow: 0px 2px 3px rgb(143,129,126);
				color: white;
				border: none;
			}

			#submit:hover {
				background-color: rgb(40,204,150);
				color: black;
				box-shadow: 0px 3px 10px grey;
			}

			a:hover {
				text-decoration: none;
			}

			.modal {
				display: none;
				position: fixed;
				z-index: 10;
				top:0;
				left:0;
				padding-top: 90px;
				width: 100%;
				height: 100%;
				overflow: auto;
				background-color: rgb(0,0,0);
				animation-name: modalDrop;
				animation-duration: .3s;
			}

			@keyframes kl {
				from {left: 100%}
				to {left: 0%}
			}

			@keyframes bl {
				from {left: -100%}
				to {left: 0%}
			}

			#jkl {
				position: fixed;
				bottom: 20px;
				z-index: 10;
			}


			::-webkit-scrollbar {
			  display: none;
			}

			@keyframes modalDrop {
				from {position: absolute;top: -100%;}
				to {position: absolute;top:20px;}
			}


		</style>

		<script>
			function showLogin(){
				document.getElementById('loginModal').style.display = "block";
				document.getElementsByClassName('lm')[0].style.display = "none";
			}

			var count = 0;
			var cl = ["rgb(244, 65, 65)","rgb(244, 98, 65)","rgb(82, 221, 183)","rgb(180, 92, 239)","rgb(234, 77, 207)"];
			var H = ["Manage Faculties","Manage Classes","Take Attendance","Add Score","Notify Parents"];
			var imge = ["fac.jpg","class.jpg","attd.png","ctd.png","notify.jpg"];
			var txt = ["Manage all your faculties using our simple yet powerful Admin Panel","Manage Classes, appoint Teachers, add Exam-Scores, Notify Parents","Take Attendance Anywhere and see Reports anytime","Adding Score with Smartphone is much Faster","Notify parents about Child's progress, Exam-score, Absence from class, Course Update, Fees and lot more"]
			function changeText(){
				document.getElementsByClassName('head')[0].style.animationName = "kl";
				document.getElementsByClassName('head')[0].style.animationDuration = ".3s";
				document.getElementsByClassName('head')[0].innerHTML = H[count];
				document.getElementById('imge').setAttribute('src',"/static-img/" + imge[count]);
				if(count===2){
					if(window.innerWidth>960){
						document.getElementById('imge').style.width = "40%";
						document.getElementById('imge').style.marginLeft = "200px";
					} else {
						document.getElementById('imge').style.width = "50%";
						document.getElementById('imge').style.marginLeft = "80px";
					}
				} else if(count===0){
					document.getElementById('imge').style.width = "100%";
					document.getElementById('imge').style.marginLeft = "0px";
				}
				document.getElementById('ie').style.animationName = "bl";
				document.getElementById('ie').style.animationDuration = ".3s";
				document.getElementById('main').innerHTML = txt[count];
				document.getElementById('main').style.animationName = "kl";
				document.getElementById('main').style.animationDuration = ".3s";
				document.getElementsByTagName('body')[0].style.backgroundColor = cl[count];
				count++;
				if(count===0){
					document.getElementById("name").id = "jkl";
				}
				if(count>0){
					document.getElementById('name').innerHTML = "<span style='color:white'>oniv</span>";
				}
				if(count>4){
					count=0;
				}
				setTimeout(removeAn,1000)
			}

			function removeAn(){
				document.getElementsByClassName('head')[0].style.animationName = "";
				document.getElementsByClassName('head')[0].style.animationDuration = "";
				document.getElementById('ie').style.animationName = "";
				document.getElementById('ie').style.animationDuration = "";
				document.getElementById('main').style.animationName = "";
				document.getElementById('main').style.animationDuration = "";
				setTimeout(changeText,80);
			}

			function sendLogin(){
				var obj = {};
				obj.username = document.getElementById('username').value
				obj.password = document.getElementById('password').value
				var xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function(){
					if(xhr.readyState === 4 && xhr.status === 401 ){
						document.getElementById('messageFolder').innerHTML = "<span class='text-danger'>Invalid Username/Password</span>";
					} else if(xhr.readyState === 4 && xhr.status === 202){
						document.location = "http://localhost:80";
					}
				}
				xhr.open('POST','http://localhost:80',true);
				xhr.setRequestHeader('Content-Type','application/json');
				xhr.send(JSON.stringify(obj));
			}

			window.onload = function(){
				if(window.innerWidth<960){
					document.getElementById('wl').style.paddingTop = "30px";
				} else {
					document.getElementById('wl').style.paddingTop = "180px";
				}
				setTimeout(changeText,80);
			}
		</script>
	</head>
	<body>
		<!-- new row, for name of the Home Company -->
		<div class="container-fluid">
			<div class="lm">
				<div class="row"><div class="col-xs-12">
					<div class="row"><div class="col-xs-12 text-center" style="font-size:250%;color:white;font-weight:bold;" id="name"></div>
					</div>
				</div>
			</div>
			<div class="row">
			<div class="col-sm-7 col-xs-12" id="ie"><img id="imge" class="img-responsive" style="width:100%;margin-top:40px" src=""></div>
			<div class="col-sm-4 col-xs-12 text-center" id="wl">
				<div class="row"><div class="col-xs-10 col-xs-offset-1 head" style="font-weight:bold;color:rgb(70,70,70);font-size:28px"><span style="font-size:36px;position:relative;top:100px">oniv</span></div></div>
				<div class="row"><div class="col-xs-12" id="main" style="margin-top:20px;font-size:18px;color:white"><div class="row" style="font-size:20px;position:relative;top:100px"><div class="col-xs-12">A Cloud-based Management Platform, built for Educational Institutes</div><div class="col-xs-12" style="margin-top:15px">Do all the important and time-consuming stuff at your fingertips</div></div>
			</div>
		</div>
		</div>
	</div>
		</div>
		<button class="btn btn-danger" style="background-color:white;color:rgb(66, 134, 244);font-weight:bold;position:absolute;bottom:20px;right:40px;border-radius:2px" onclick="showLogin()">LOGIN BETA</button>
		<div id="loginModal" class="col-xs-12 modal" style="animation-name:modalDrop;animation-duration:.3s;">
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4" style="border-radius:5px;background-color:white;border: solid 1px rgb(160,160,160)">
							<div class='row'>
									<div class='col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2  text-center' style="background-color:rgba(230,230,230,.6);border:solid 1px rgb(160,160,160);border-radius:5px;padding-top:10px;padding-bottom:10px;margin-top:20px;" id="messageFolder"><span class=' text-primary'>Login to Continue</span></div>
									<div class='col-xs-12 col-sm-12' id='login'><br>
										<div class='row text-center' style="text-transform:bold;color: rgb(70,70,70);text-transform:bold;font-size:18px;padding-top:5px;padding-bottom:5px">
											<div class="col-xs-12 col-sm-6" style='padding-top:10px'>username</div>
											<div class="col-xs-12  col-sm-6 text-center"><input type='text' name='username' id='username' size=15></div>
										</div>
										<div class='row text-center' style="text-transform:bold;color: rgb(70,70,70);text-transform:bold;font-size:18px;padding-top:5px;padding-bottom:5px">
											<div class="col-xs-12 col-sm-6" style='padding-top:10px'>password</div>
											<div class="col-xs-12 col-sm-6"><input type='password' name='password' id='password' size=15></div>
										</div>

										<div class="col-xs-12">
											<p class='text-center'><button class="btn btn-primary" onclick='sendLogin()'>Submit</button></p>
										</div>
									</div>
								</div>
						</div>
					</div>
		</div>
		</body>
</html>
<!--
		 -->
