

@font-face {
	font-family: Poppins;
	src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: notosans;
	src: url(../fonts/NotoSans-Regular.ttf);
}
	* {
		font-family: notosans;
	}

	#navbar {
		height: 50px;
		border-bottom: solid 1px lightgrey;
		padding-top: 10px;
	}

	#company {
		font-family: notosans;
		margin-top: auto;
	}

	.modal {
		display: none;
		position: fixed;
		z-index: 10;
		top:0;
		left:0;
		padding-top: 20px;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0,0,0,.9);
		animation-name: modalDrop;
		animation-duration: .3s;
	}

	.modal2 {
		display: none;
		position: fixed;
		z-index: 1;
		top:0;
		left:0;
		overflow: auto;
	}

	.modal3 {
		display: none;
		position: fixed;
		z-index: 1;
		top:0;
		left:0;
		height: 100%;
		width:100%;
		overflow: auto;
		background-color: rgb(0,0,0,.7);
	}

	.modalContent {
		background-color: white;
		border-radius: 5px;
		padding-bottom: 30px;
		overflow-x: auto;
	}

	.admin-navigation-options {
		padding-bottom:12px;
		padding-top:12px;
		margin-top: 2px;
		border-radius: 3px;
		color:rgb(50,50,50);
		font-size:14px;
		font-family:Roboto;
		cursor:pointer;
		font-weight: bold;
		border: solid 1px rgba(200,200,200,.8);
		box-shadow:2px 2px 5px rgba(160,160,160,.4);
		background-color: rgb(201, 206, 214);
	}

		.students-subjects {
			padding-bottom:12px;
			padding-top:12px;
			margin-top: 2px;
			border-radius: 3px;
			color:rgb(50,50,50);
			font-size:14px;
			font-family:Roboto;
			cursor:pointer;
			font-weight: bold;
			border: solid 1px rgba(200,200,200,.8);
			box-shadow:2px 2px 5px rgba(160,160,160,.4);
			background-color: white;
		}

	.admin-navigation-options:hover, .students-subjects:hover {
		background-color: rgb(97, 143, 226);
	}

			#first_section {
				height: 100%;
				background-color: white; //rgba(14, 23, 35,.98)
			}

			.faculty_name {
				background-color:white;
				text-transform: uppercase;
				border: solid 1px rgba(160,160,160,.8);
				cursor: pointer;
				font-size: 14px;
				overflow: hidden;
				padding: 10px;
			}

			.faculty_name:hover {
				background-color: rgb(97, 143, 226);
			}


			.faculty_names:hover, .batches_names:hover, .student_name:hover {
				background-color: rgba(195,195,195,1);
				color: green;
			}

			.faculty_names:active, .batches_names:active, .student_name:active {
				background-color: rgba(0,0,0,.3);
			}

			.student_name {
				text-transform: capitalize;
				background-color: rgba(195,195,195,.5);
				color: black;
				font-weight: bold;
				margin-top: 5%;
				padding-top: 2%;
				padding-bottom: 2%;
				border-radius: 3px;
				cursor: pointer;
			}

			#third_section {
				height: 100%;
				background-color: rgb(15, 22, 38);
			}

			#report_section {
				height: 100%;
				background-color: rgb(220, 225, 234);
				overflow-y: auto;
				border-left: solid 1px rgba(160,160,160,.6);
			}

			#studentDataReport {
				  height: 65%;
				  overflow-y: scroll;
					background-color: white;
				}

				#studentData {
						position: relative;
						top: 5%;
					  height: 5%;
					}

					#date {
						font-size: 24px;
					}

					@keyframes modalDrop {
						from {position: absolute;top: -100%;}
						to {position: absolute;top:20px;}
					}

					#batchListSection {
						padding-top:5px;
						padding-bottom:5px;
					}

					td:hover {
						background-color: rgba(14, 23, 35,.3);
						cursor: pointer;
					}

					.container {
						min-width: 970px;
					}

					.tabs1 {
						color:rgb(70,70,70);
						background-color:rgb(203, 208, 216);
						border:solid 1px rgba(180,180,180,1);
						box-shadow:0px 1px 10px rgba(160,160,160,1);
						padding-top:5px;
						padding-bottom:5px;
						cursor:pointer
					}

					.tabs {
						color:rgb(70,70,70);
						background-color:rgb(203, 208, 216);
						border:solid 1px rgba(180,180,180,1);
						box-shadow:0px 1px 10px rgba(160,160,160,1);
						padding-top:5px;
						padding-bottom:5px;
						cursor:pointer
					}

					.notif-modal {
					  display: none;
					  position: fixed;
					  left: 0px;
					  top: 0px;
					  height: 100px;
					  width: 100%;
					  padding-top: 50px;
					  animation-timing-function: ease-in;
					  animation-name: fade-in;
					  z-index: 10;
					}

					::-webkit-scrollbar {
    				display: none;
					}

					.close {
						position: relative;
						right: 50px;
						padding: 10px;
						border-radius: 50%;
						color: white;
					}

					.close:hover {
						color: rgb(200,200,200);
					}

					.close:active {
						color: white;
					}

					input {
					  border: none;
					  border-bottom: solid 1px rgba(90,90,90,.5);
					  font-weight: bold;
					  font-size: 16px;
					  color: rgb(90,90,90);
					}

					input#testname, input#maxscore {
						border-radius: 0px;
						text-transform: uppercase;
					}

					textarea {
						border-radius: 5px;
					}

					.testscoreip {
						border: solid 1px rgba(110,110,110,.8);
						padding-top: 5px;
						padding-bottom: 5px;
						border-radius: 5px;
					}

					input.testscoreip:focus {
						border-radius: 5px;
						border:solid 1px lightgreen;
					}

					select {
						border-radius: 3px;
						background-color: white;
						margin-right: 5px;
					}

					#student_detail_section {
						height: 100%;
						overflow-y: auto;
					}

					.dropdown-content {
						border-radius: 3px;
						margin-top: 5px;
						width: 100%;
						background-color: white;
						display:none;
						position:absolute;
						border: solid 1px rgb(160,160,160);
						z-index:1
					}

					.dropdown-content>div {
						padding-top: 7px;
						padding-bottom: 7px;
						border-bottom: solid 1px rgb(220,220,220);
					}
