
		@font-face {
			font-family: Poppins;
			src: url(../fonts/Poppins-Regular.ttf);
		}

		@font-face {
			font-family: notosans;
			src: url(../fonts/NotoSans-Regular.ttf);
		}
			* {
				font-family: notosans;
			}

			#navbar {
				height: 50px;
				border-bottom: solid 1px lightgrey;
				padding-top: 10px;
			}

			#company {
				font-family: notosans;
				margin-top: auto;
			}

			.modal {
				display: none;
				position: fixed;
				z-index: 1;
				top:0;
				left:0;
				padding-top: 20px;
				width: 100%;
				height: 100%;
				overflow: auto;
				background-color: rgba(0,0,0,.9);
			}

			.modal2 {
				display: none;
				position: fixed;
				z-index: 1;
				top:0;
				left:0;
				height: 100%;
				overflow: auto;
				background-color: rgb(166, 172, 181);
			}

			.modalContent {
				background-color: white;
				border-radius: 3px;
				padding-bottom: 5px;
				overflow-x: auto;
				animation-name: modalDrop;
				animation-duration: .3s;
			}

			.admin-navigation-options {
				padding-bottom:12px;
				padding-top:12px;
				color:rgba(255,255,255,.6);
				font-size:14px;
				font-family:Lato;
				cursor:pointer;
			}

			.admin-navigation-options:hover {
				background-color: rgba(14, 23, 35,1);
				color:rgba(255,255,255,1
					);
			}

			#first_section {
				height: 100%;
				background-color: rgba(14, 23, 35,.9);
			}

			.faculty_name {
				background-color:rgba(255,255,255,.7);
				text-transform:capitalize;
				padding-top:15px;
				padding-bottom:15px;
				border-bottom: solid 1px rgba(0,0,0,.2);
				cursor: pointer;
			}

			.faculty_name:hover {
				background-color: rgba(14, 23, 35,.7);
				color: white;
			}


			.faculty_names:hover, .batches_names:hover, .student_name:hover {
				background-color: rgba(195,195,195,1);
				color: green;
			}

			.faculty_names:active, .batches_names:active, .student_name:active {
				background-color: rgba(0,0,0,.3);
			}

			.student_name {
				text-transform: capitalize;
				background-color: rgba(195,195,195,.5);
				color: black;
				font-weight: bold;
				margin-top: 5%;
				padding-top: 2%;
				padding-bottom: 2%;
				border-radius: 3px;
				cursor: pointer;
			}

			#third_section {
				height: 100%;
				background-color: rgb(15, 22, 38);
			}

			#report_section {
				height: 100%;
				background-color: #d0d5e0;
			}

			#studentDataReport {
				  height: 65%;
				  overflow-y: scroll;
					background-color: white;
				}

				#studentData {
						position: relative;
						top: 5%;
					  height: 5%;
					}

					#date {
						font-size: 24px;
					}

					@keyframes modalDrop {
						from {position: absolute;top: -100%;}
						to {position: absolute;top:20px;}
					}

					input {
						border-radius: 4px;
						border-size: 1px;
					}

					#batchListSection {
						background-color: rgba(14, 23, 35,.91);
						padding-top:5px;
						padding-bottom:5px;
						border-bottom: solid 2px black;
					}

					.card:hover {
						border: solid 1px rgba(14, 23, 35,.3);
					}
